
.header{
    display: block;
}
.header-mob{
    display: none;
}
.menu{
    
}
@media screen and (max-width: 576px) {
    .header{
        display: none;
    }
    .header-mob{
        display:block;
    }
  }