.btn-login{
    border: 1px solid rgb(192 132 252);
    color: rgb(192 132 252);
    font-size: 16px;
}
.btn-roblox{
    border-color:#c084fc33;
    border-width: 0;
    background-color: initial;
    color: #fff;
    font-size: 16px;
}
.box-roblox{
    top: 50%;
    left: 50%;
    transform: translateY(35%);
}
.border-roblox{
    border: 1px solid #1f29374d;
}

.card-slide{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #e5e7eb1a;
    transition-timing-function:cubic-bezier(.4,0,.2,1);
    transition-duration: 0.3s;
    transform: matrix(1, 0, 0, 1, 0, 0)
}
.btn-card{
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    box-shadow: (0 0 #0000),(0 0 #0000),(0 20px 25px -5px #0000001a,0 8px 10px -6px #0000001a);
    font-weight: 700;
    color: #fff;
    background-color: rgb(139 92 246);
    border-radius: 10px;
    width: 100%;
    gap: 0.75rem;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    padding: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
